.footer {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_content {

    }
    .contact_methods {

        a[title="email"] {
            vertical-align: top;
        }
        @media only screen
        and (max-device-width: 768px) {
            & {
                width: 200px;
            }
        }
    }
    .email_address {
        vertical-align: top;
        display: none;
    }
    .copyrights {

        @media only screen
        and (max-device-width: 768px) {
            & {
                width: 60px;
                float: right;
            }
        }
        .address {
            @extend .contact_item;
            margin-left: .3em;
        }
        .icon-heart {
            transform: scale(1.1);
            animation: love .5s infinite linear alternate-reverse;
        }
    }
    .contact_item {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        vertical-align: top;
        a {
            color: $transparent;
        }
    }
    .icon {
        font-size: 32px;
    }
}

@keyframes love {
    to {
        transform: scale(.9)
    }
}