.user-link {
	display: inline-block;
	font-size: 0;
}
.nav {
	display: flex;
	justify-content: center;
	position: relative;
	.static-links,
	.user-links {
		padding: 0 2rem;
		position: relative;
	}
	.first-layer {
		display: inline-block;
		vertical-align: top;
    a {
      text-transform: uppercase;
    }
		.current {
			color: blue;
			box-shadow: 0 1px 0 0 blue;
		}
	}
}
