.password_resets {
	.row {
		display: block;
		@include sameHeightLineheight(3rem);
		+ .row {
			margin-top: .5rem;
		}
	}
	.reset-pwd-form {
		width: 30rem;
		margin: 0 auto;
		padding: 1rem 0;
		background-color: #f7f7f7;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}
	fieldset {
		border: none;
	}
	input {
		width: 100%;
		line-height: 3rem;
		height: 3rem;
		border: 1px solid #999;
		padding: 0 1rem;
		&:focus {
			border-bottom: 1px solid #000;
		}
	}
	.btn-submit {
		display: block;
		margin: 0 auto;
		width: 10rem;
		padding: 0;
		background-color: #fff;
		border: 1px solid #999;
		border-radius: 4px;
	}
}