<% provide(:title, "Home") %>
<% provide(:name, 'homepage') %>

<% content_for :head do %>

<style rel="stylesheet" name="homepage">
.about-img {
  width: 100%;
  box-shadow: 0 0 4px 0 #ddd;
  display: block;
  margin: 1em auto;
}
.normal-img {
  display: inline-block;
}
</style>
<% end %>

<% content_for :content do %>
<div class="home-container">
    <%= render 'static_pages/home' %>
</div>
<% end %>

<% content_for :foot do %>
  <% if logged_in? %>
		<%= c_javascript_include_tag 'homepage', name: "homepage" %>
	<% end %>
<% end %>
