<% provide(:title, "Home") %>
<% provide(:name, 'homepage') %>


<% content_for :content do %>
<div class="home-container">
    <%= render 'static_pages/home' %>
</div>
<% end %>

<% content_for :foot do %>
<%= c_javascript_include_tag 'homepage', name: "homepage" %>
<% end %>
