<% provide(:title, "Instagram") %>
<% provide(:name, 'instagram') %>

<% content_for :head do %>

<style rel="stylesheet" name="homepage">
.instagram_users_entry {
  display: inline-block;
  width: 10em;
  height: 10em;
  text-align: center;
  line-height: 10em;
  border-radius: 50%;
  background-color: #73b2dc;
}
.instagram_images_entry {
  display: inline-block;
  width: 10em;
  height: 10em;
  text-align: center;
  line-height: 10em;
  border-radius: 50%;
  background-color: #d23ac1;
}
.instagram_tasks_entry {
  display: inline-block;
  width: 10em;
  height: 10em;
  text-align: center;
  line-height: 10em;
  border-radius: 50%;
  background-color: #09e253;
}
</style>
<% end %>

<% content_for :content do %>
<div class="instagram-container c-card-box c-center">
    <%= link_to 'instagram_users', instagram_users_path, class: "fnpu-link instagram_users_entry c-gap-right" %>
    <%= link_to 'instagram_images', instagram_images_path, class: "fnpu-link instagram_images_entry" %>
    <%= link_to 'instagram_tasks', instagram_tasks_path, class: "fnpu-link instagram_tasks_entry" %>
</div>
<% end %>

<% content_for :foot do %>

<% end %>
