<% provide(:title, "Forgot password") %>
<h1 class="center">Forgot password</h1>

<div class="form-container">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="row">
	      <%= f.label :email, class: "form-label" %>
	      <%= f.email_field :email, class: 'form-control' %>
      </div>
	  
	  <div class="row">
	      <%= f.submit "Submit", class: "btn btn-submit" %>
	  </div>
    <% end %>
</div>