<div class="fis-ci-container">
  <div class="search-wrap">
    <span>search: </span>
    <input type="text" class="search-input c-input">
    <div class="api-search-result hide"></div>
  </div>
  <div class="c-gap-bottom">
    <%= will_paginate %>
  </div>
  <div>

      <div class="plugins c-grid-span38">
        <div class="plugins-wrap c-gap-bottom">

          <div class="plugins-hread c-grid-row c-pad-left">
            <div class="c-grid-span10">packageName</div>
            <div class="c-grid-span6">packageVersion</div>
            <div class="c-grid-span10">ciPackageName</div>
            <div class="c-grid-span6">ciPackageVersion</div>
            <div class="c-grid-span8">ciPackageVersionPatch</div>
            <div class="c-grid-span5">status</div>
            <div class="c-grid-span3 c-center">log</div>
          </div>

          <div id="app">

            <plugin-item></plugin-item>
          </div>


        </div>
      </div>

      <%= will_paginate %>

      <div class="c-gap-top">

        <%= link_to 'New Ci Packages', new_ci_plugin_path, class: "spf-link" %>
      </div>

  </div>


</div>

<script>
  (function() {
    window.gc = window.gc || {};
    gc = <%= raw @ci_plugins.to_json %>;
  })();
</script>

<script>
(function addShowLogMark() {
  if (gc.length === 0) return;
  gc.forEach(function(element, index) {
    element.showLogs = false;
    element.log = {};
    element.gc = null;
  });
})();

</script>