<div class="fis-ci-container">
  <h1>Install New CI Plugins</h1>

  <%= render 'form', ci_plugins: @ci_plugins %>

  <div id="app">
    <new-plugins></new-plugins>

  </div>

  <%= link_to 'Back', ci_plugins_path %>
</div>