<h1>account_activation</h1>

<p>
  <%= @greeting %>
</p>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to dawn! Click on the link below to activate your account: <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
