<div class="wrap" style="border: 1px solid #B2EBF2;
													font-family: 'Verdana', 'Georgia', 'Calibri', 'Serif', 'Times New Roman';
													border-radius: 4px;
													-webkit-border-radius: 5px;
													text-align: center;
													width: 600px;
													margin: 0 auto;
													padding: 15px;
													background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 60%, #fff), -webkit-linear-gradient(20deg, #e0f1ff 32%, #fffae3);
													background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #fff), linear-gradient(70deg, #e0f1ff 32%, #fffae3);
													">
	<h2>Password reset</h2>

	<p>Hi, <%= @user.name %>.</p>

	<p>
	To reset your password click the button below: 
	</p>	
	<p>
		<%= link_to "Reset password",
								@epr_url,
								{:style=>'border: 2px solid #0e83cd;
											    cursor: pointer;
											    padding: .6rem 1rem;
											    display: inline-block;
											    letter-spacing: 1px;
											    outline: none;
											    color: #fff;
											    text-decoration: none;
											    background: #0e83cd;', :class => "css_class"} %>
	</p>
	<div class="hint-wrap" style="width: 380px; margin: 0 auto; color: #9E9E9E; font-size: 12px; text-align: left;">
		<p>This button will expire in two hours.</p>

		<p style="">
		If you did not request your password to be reset, please ignore this email and your password will stay as it is.
		</p>		
	</div>

</div>