<% base_info = JSON.parse @pt_task['torrent_base_info']%>
<h3><%= base_info['chsTitle'] %></h3>
<h3><%= base_info['engTitle'] %></h3>
<p>
<img style="display:block;width:480px;height:480px;"
src="<%= @qrcodeUrl %>" /></p>
<div>
   has alreay been uploaded.
</div>