%color-white {
	color: $white;
	border: none;
}
.c-tag {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-block;
  height: 33px;
  line-height: 33px;
  margin: 0 6px 0 0;
  padding: 0 12px;
  border: 2px solid #e9eaec;
  border-radius: 5px;
  background: #f7f7f7;
  font-size: 18px;
  vertical-align: middle;
  opacity: 1;
  overflow: hidden;
  cursor: pointer;
  /* trick calculate the offset */
  transform: scale(0.66) translateX(-25%);
  position: relative;
  top: -6px;
  letter-spacing: 2px;
  &.c-tag-blue {
  	background: $blue;
  	@extend %color-white;
  }
  &.c-tag-green {
  	background: $green;
  	@extend %color-white;
  }
  &.c-tag-red {
  	background: $red;
  	@extend %color-white;
  }
  &.c-tag-yellow {
    background: $yellow;
    @extend %color-white;
  }

  .c-tag-text {

  }
}

