.c-notice {
	text-align: center;
}
.c-border {
	border: $c-border;
}
.c-gap-top {
	margin-top: $gap-top;
}
.c-gap-bottom {
	margin-bottom: $gap-bottom;
}
.c-gap-left {
	margin-left: $gap-left;
}
.c-gap-right {
	margin-right: $gap-right;
}
.c-pad-left {
	padding-left: $pad-left
}
.c-pad-right {
	padding-right: $pad-right
}
.c-pad-top {
	padding-top: $pad-top;
}
.c-text-indent {
	text-indent: .5rem;
}
.c-pad-left-wide {
	padding-left: $pad-left-wide;
}
.c-container {
    font-size: 13px;
    line-height: 1.54;
    word-wrap: break-word;
    word-break: break-word;
}
.c-float-right {
	float: right;
}
.c-float-left {
	float: left;
}
.c-block {
	display: block;
}
.c-normal-a {
  box-shadow: none;
  &:hover {
  	color: initial;
  	background-color: initial;
  	box-shadow: none;
  }
}
.c-full-width {
	width: 100%;
}
.c-min-width-zero {
	min-width: 0;
}
.c-preserve-h {
	min-height: 1px;
}
.c-break-word {
	word-wrap: break-word;
}
.c-summary-row {

	background-color: #eee;
	padding-top: .5rem;
	padding-bottom: .5rem;
	&:hover {
		box-shadow: 1px 1px #2124dc;
	}
}
.c-input {
	border-bottom: 1px solid #999;
}
.c-block-input {
	display: block;
}
.c-center {
	text-align: center;
}
.c-hide {
	display: none !important;
}
.c-hidden {
	visibility: hidden;
}
.c-card-box {
	@extend %card-box;
}
.c-left-wide-border {
	border-left: 5px solid #2124dc;
}
.c-normal-card-box {
	@extend %card-box;
	width: 80rem;
}
.c-table {
	table-layout: fixed;
	word-break: break-word;
	width: 100%;
  border-collapse: collapse;
	&, th, td {
		border: 1px solid #999;
		padding: .5rem 1rem;
	}
}
.c-bg-gray {
	background-color: $gray;
}
.c-simulate-table {
	border-top: 1px solid #999;
	border: 1px solid #eee;
	border-bottom: 2px solid #00cccc;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
	   0px 10px 20px rgba(0,0,0,0.05),
	   0px 20px 20px rgba(0,0,0,0.05),
	   0px 30px 20px rgba(0,0,0,0.05);
	.c-simulate-tr {
		 &:hover {
		  background: #f4f4f4;

		  .c-simulate-td {
		    color: #555;
		  }
		}
	}
	.c-simulate-td,
	.c-simulate-th {
		color: #333;
		padding: .5rem;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		&.c-simulate-last-row-item {
			border-right: none;
		}
	}
	.c-simulate-th {
		background: #0cc;
		color: #fff;
		text-transform: capitalize;
		font-size: 12px;
		&.last {
		  border-right: none;
		}
	}
	.c-simulate-bdr {
		border-right: 1px solid #333;
	}

	.current_active {
		margin: -.5rem -.5rem 0 -.5rem;
		padding: .5rem;
		background-color: #7fff00;
	}	
}

.c-left-wide-bdr-row {
	border-left: 5px solid #2124dc;
	.c-left-wide-bdr-item {
		margin-left: -5px;
	}
}
	
.c-text {
	overflow: hidden;
	word-break: break-all;
	line-height: 1.8rem;
}

.c-btn {
	border: 2px solid #0e83cd;
	color: #0e83cd;
	background: none;
	cursor: pointer;
	padding: .6rem 1rem;
	display: inline-block;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
	&:hover {
		color: #fff;
		background: #0e83cd;
	}
	&.c-small-btn {
		padding: .1rem .15rem;
	}
}
.c-button {
	@extend .c-btn;
}
