html {
	box-sizing: border-box;
	font-size: 12px;
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}
body {
	font: $english-font;
	background-color: #fff;
	font-size: $font-size;
	// -webkit-font-smoothing: antialiased;
}
.hide {
	display: none !important;
}
.center {
	text-align: center;
}
/*
input:not([type=checkbox]),
input:not([type=radio]) {
	appearance: none;
}
*/
input,
select {
	border: none;
	&:focus { 
		outline: none; 
	}
}
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
  &:focus {
  	box-shadow: 0 0 0 1000px white inset;
  	-webkit-text-fill-color: #000;
  }
}
input[type="hidden"] {
	display: none !important;
}

textarea[type="hidden"] {
    display: none;
}
.ellipsis {
	@extend %ellipsis;
}
.reverse-ellipsis {
	@extend %reverse-ellipsis;
}
.logo-wrap {
	background-color: #fffaf0;
	display: flex;
	align-items: baseline;
	.logo-a {
		&:link {
			color: #551a8b;
		}
	}
	.logo {
		font-family: "Courier New";
		font-size: 10px;
		line-height: 1.2em;
		display: inline-block;
	}
	.sub-logo {
    text-decoration: initial;
	}
}
