<% provide(:title, 'Email whitelist') %>
<% provide(:name, 'dawn') %>

<% content_for :content do %>
<div class="email-whitelist c-card-box">
	<p>
	  <strong>Email:</strong>
	  <%= truncate(@email_whitelist.email, :length => 9)  %>
	</p>

	<%= link_to 'Edit', edit_email_whitelist_path(@email_whitelist) %> |
	<%= link_to 'Back', email_whitelists_path %>
</div>

<% end %>