<% provide(:title, 'Instagram users') %>
<% provide(:name, 'instagram_users') %>

<% content_for :content do %>
<div class="c-normal-card-box">
  <p id="notice"><%= notice %></p>

  <%= render 'instagram_users' %>

</div>
<% end %>
