<div class="c-card-box">
	<%= link_to "profile", edit_user_path(current_user), class: 'spf-link' %>
	<%= link_to "token", get_token_user_path(current_user), class: 'spf-link' %>
	<%= link_to "token", user_preference_set_locale_path(current_user), class: 'spf-link' %>

   <%= render "user_preference/locale" %>
</div>
<h1>ok</h1>
