<div class="c-card-box">
	<div class="tabs-row c-gap-bottom">
		<%= link_to t('.language'), user_preference_path, class: 'fnpu-link' %>
		<%= link_to t('.profile'), edit_user_path(current_user), class: 'fnpu-link' %>
		<%= link_to "token", get_token_user_path(current_user), class: 'fnpu-link' %>
	</div>
	<div id="sub-settings-container">
	   <%= render "user_preference/locale" %>
	</div>
</div>
