<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1 class="center">Update your profile</h1>
<div class="form-container">

    <%= render 'form' %>
</div>

<script>
	var inputs = document.querySelectorAll( '.micropost-input-file' );
	Array.prototype.forEach.call( inputs, function( input )
	{
	  var label  = input.nextElementSibling,
	    labelVal = label.innerHTML;

	  input.addEventListener( 'change', function( e )
	  {
	    var fileName = '';
	    if( this.files && this.files.length > 1 )
	      fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
	    else
	      fileName = e.target.value.split( '\\' ).pop();

	    // if( fileName )
	    //   label.querySelector( 'span' ).innerHTML = fileName;
	    // else
	    //   label.innerHTML = labelVal;

	    if( fileName )
	      label.getElementsByTagName('span')[0].innerHTML = fileName;
	    else
	      label.getElementsByTagName('span')[0].innerHTML = labelVal;

	      
	  });
	});
</script>