<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.min.css">
<style>
.CodeMirror {
    height: 600px;
}
</style>
<div class="document-container">
	<%= render 'form' %>
</div>

<div class="center">
	<%= link_to 'Show', @doc %> |
	<%= link_to 'Back', docs_path %>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/mode/markdown/markdown.min.js"></script>
<script>

function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
}
var contentStr = "<%= @doc.content %>";
contentStr = htmlDecode(contentStr);
console.log(contentStr);
var myTextArea = document.getElementsByClassName('doc-input-textarea-placeholder')[0];
var myCodeMirror = CodeMirror(function(elt) {
  myTextArea.parentNode.replaceChild(elt, myTextArea);
}, {
    mode: 'markdown',
    value: contentStr,
    lineWrapping: true,
    lineNumbers: true
});
document.getElementsByClassName('save-document')[0].addEventListener('click', function(ev) {
    ev.preventDefault();
    var val = myCodeMirror.getValue();
    document.getElementsByClassName('doc-input-textarea')[0].value = val;
    document.doc_form.submit();
});
</script>