<% provide(:title, 'Edit-documentation') %>
<% provide(:name, 'createOrEditDocumentation') %>

<% content_for :head do %>
<style name="createOrEditDocumentation">
.CodeMirror {
    height: 600px;
}
</style>
<% end %>

<% content_for :content do %>
<div class="document-container">
    <h1>New Doc</h1>
    <%= render 'form' %>
</div>
<div class="center">
  <%= link_to 'Show', @doc, class: 'fnpu-link' %> |
  <%= link_to 'Back', docs_path, class: 'fnpu-link' %>
</div>
<% end %>


<% content_for :foot do %>
  <%= c_javascript_include_tag 'createOrEditDocumentation', name: "createOrEditDocumentation" %>
<% end %>
