<script type="text/javascript">
var observe;
if (window.attachEvent) {
    observe = function (element, event, handler) {
        element.attachEvent('on'+event, handler);
    };
}
else {
    observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
    };
}
function init () {
    var text = document.getElementsByClassName('doc-input-textarea')[0];
    function resize () {
        text.style.height = text.scrollHeight+'px';
    }
    /* 0-timeout to get the already changed text */
    function delayedResize () {
        window.setTimeout(resize, 0);
    }
    observe(text, 'change',  resize);
    observe(text, 'cut',     delayedResize);
    observe(text, 'paste',   delayedResize);
    observe(text, 'drop',    delayedResize);
    observe(text, 'keydown', delayedResize);

    // text.focus();
    // text.select();
    resize();
}
</script>
<div class="document-container">
	<%= render 'form' %>
</div>

<div class="center">
	<%= link_to 'Show', @doc %> |
	<%= link_to 'Back', docs_path %>
</div>

<script>
	window.addEventListener('load', function() {
		init();
	});
</script>