<div class="document-container">
  <!-- <h1 class="c-center">Listing Documents</h1> -->

  <div class="posts-container" id="spf-docs-container">
    <%= render 'docs' %>
  </div>

    <div class="center c-gap-top">
      <%= link_to 'New Doc', new_doc_path %>
    </div>
</div>
