<% provide(:title, 'Documentation') %>
<% provide(:name, 'documentation') %>

<% content_for :content do %>
<div class="document-container">
    <%= render 'docs' %>
</div>
<% end %>

<% content_for :foot do %>
  <%= c_javascript_include_tag 'documentation', name: "documentation" %>
<% end %>
