<% provide(:title, 'New-documentation') %>
<% provide(:name, 'createOrEditDocumentation') %>

<% content_for :head do %>
<style name="createOrEditDocumentation">

</style>
<% end %>

<% content_for :content do %>
<div class="document-container">
    <h1><%= t('.new_doc') %></h1>
    <%= render 'form' %>
    <%= link_to t('.back'), docs_path, class: 'fnpu-link' %>
</div>
<% end %>


<% content_for :foot do %>
	<%= c_javascript_include_tag 'createOrEditDocumentation', name: "createOrEditDocumentation" %>
<% end %>
