<% content_for :content do %>
<div class="markdown-body">
  <h1 class=""><%= @doc.title %></h1>
  <%= markdown2(@doc.content) %>
</div>

<div class="center c-gap-top">
	<%= link_to t('.edit'), edit_doc_path(@doc), class: 'fnpu-link' %> |
	<%= link_to t('.back'), docs_path, class: 'fnpu-link' %>
</div>
<% end %>
