<% provide(:title, 'Instagram images') %>
<% provide(:name, 'instagram_images') %>

<% content_for :content do %>
<div class="c-wide-card-box">
  <p id="notice"><%= notice %></p>

  <%= render 'instagram_images' %>

</div>
<% end %>
