<span class="image-upload">
  <%= f.file_field name, accept: 'image/jpeg,image/gif,image/png', id: "micropost_picture", class: "micropost-input-file", data: { 'multiple-caption': "{count} files selected" } %>
  <label class="ellipsis reverse-ellipsis" for="micropost_picture"><span>Choose an image</span></label>
</span>