<% @user ||= current_user %>
<div class="follow-status">
  <a class="card-link-following fnpu-link" href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a class="card-link-followers fnpu-link" href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>