<section class="user-info-card">
  <div class="self-info">
    <span class="avatar">
      <%= link_to avatar_for(current_user), current_user, class: "user-link" %>
    </span>
    <span class="info">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </span>
  </div>
</section>