<%= will_paginate %>
<ul class="api-ul">
  <%= render @apis %>
</ul>
<%= will_paginate %>
<div class="apis">
    <div class="add-api"><input class="add-api-btn" type="button" value="add API"></div>
</div>

