<header>This Way, Sir!</header>
<div class="apis">
    <div class="add-api"><input class="add-api-btn" type="button" value="add API"></div>
</div>
<svg id="painter-target" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 360" preserveAspectRatio="xMidYMid meet"><path fill="none" stroke="#4d6480" stroke-width="15" stroke-linecap="round" stroke-linejoin="round" d="M150,68l30,85h90l-70,55l25,85l-75-50l-75,50l25-85l-70-55h90L150,68z"></path><path fill="none" stroke="#4d6480" stroke-width="15" stroke-linecap="round" stroke-linejoin="round" d="M450,68l30,85h90l-70,55l25,85l-75-50l-75,50l25-85l-70-55h90L450,68z"></path></svg>
