<% provide(:title, 'New Gist') %>
<% provide(:name, 'createGist') %>


<% content_for :content do %>
  <div class="c-normal-card-box gist-container">
    <h1>New Gist</h1>

    <%= render 'form', gist: @gist %>

    <%= link_to 'Back', gists_path, class: 'fnpu-link' %>
  </div>
<% end %>

<% content_for :foot do %>
	<%= javascript_pack_tag 'createOrEditGist', name: "createGist" %>
<% end %>