.per-pt-task {
  position: relative;
  display: flex;
  text-align: left;
  & + & {
    margin-top: $gap-top;
  }
  &.not-available {
    .pt-task-cover,
    .pt-task-info,
    .pt-source {
      filter: grayscale(1);
    }
  }
}
.pt-source-op {
  color: $white;
  flex-basis: 10em;
}
.pt-source {
  display: block;
  background-color: $yellow;
}
.pt-task-hints {
  background-color: $letter-bg;
}
.pt-torrent-detail {
  display: block;
  background-color: $green;
}
.pt-task-progress {
  display: block;
  background-color: $purple;
}
.torrent-detail-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.torrent-detail-bg {
  background-color: $black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.torrent-detail-popup-inner-wrap {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.torrent-detail-popup-wrap {
  position: absolute;
  top: 3em;
  bottom: 3em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: #fff;
  width: 100em;
  img {
    max-width: 100%;
  }
}
.torrent-detail-popup-close {
  position: absolute;
  display: inline-block;
  right: -7em;
  top: 0.5em;
  width: 6em;
  line-height: 2;
  background: $black;
  color: $white;
}
.torrent-detail-popup {
  padding: 1em;
  .quoted {
    border: 1px $black dotted;
    padding: 10px;
    width: 98%;
    margin: 10px auto;
    font-family: "Courier New";
    background-color: #ebeeff;
  }
}
.search-row {
  display: flex;
  justify-content: space-between;
}
.torrent-status-info {
  color: $white;
  > span {
    display: inline-block;
    width: 11rem;
  }
}
#pt-tasks-q {
  min-width: 20rem;
}
.pt-task-info {
  padding: 0 0 0 $pad-left;
  flex: 1;
}
.add-pt-task {
  background-color: $blue;
}
.search-pt-wrap button {
  -webkit-appearance: none;
}
.torrent-category {
  background-color: $yellow;
}
.torrent-size {
  background-color: $blue;
}
.torrent-seeders {
  background-color: $green;
}
.torrent-downloading {
  background-color: $cyan;
}
.pt-task-cover {
  width: 100%;
}
.pt-task-cover {
  background-size: contain;
  background-repeat: no-repeat;
  flex-basis: 8rem;
}
.pt-task-play-online,
.pt-task-step-log {
  text-align: left;
  padding: 0 2em;
}
.pt-task-video {
  box-shadow: 1px 1px 4px 1px #ddd;
}
