<% provide(:title, 'New-CI-npm-packages') %>
<% provide(:name, 'newCiNpmPackages') %>

<% content_for :head do %>
  <style rel="stylesheet" name="newCiNpmPackages">

  </style>
<% end %>

<% content_for :content do %>
  <div class="ci-packages-container">
    <h1><%= t('.install_new_ci_npm_packages') %></h1>
    <%= render 'form', ci_packages: @ci_packages %>

    <div id="app">
      <new-packages></new-packages>
    </div>

    <%= link_to t('.back'), ci_packages_path, class: "fnpu-link" %>
  </div>
<% end %>

<% content_for :foot do %>
  <%= javascript_pack_tag 'newCiNpmPackages', name: "newCiNpmPackages" %>
<% end %>
