<% provide(:title, 'New-CI-npm-packages') %>
<% provide(:name, 'newCiNpmPackages') %>

<% content_for :head do %>
<style name="newCiNpmPackages">
  body {
    background-color: #d3d3d3;
  }
  .ci-packages-container {
    background-color: #fff;
  }
  .nav {
    background-color: #fff;
    margin-bottom: 1.5rem;
  }
</style>
<%= client_stylesheet_link_tag 'newCiNpmPackages' %>
<% end %>

<% content_for :content do %>
  <div class="ci-packages-container">
    <h1>Install New CI Packages</h1>

    <%= render 'form', ci_packages: @ci_packages %>

    <div id="app">
      <new-plugins></new-plugins>

    </div>

    <%= link_to 'Back', ci_packages_path, class: "spf-link" %>
  </div>
<% end %>

<% content_for :foot do %>
  <%= client_javascript_include_tag 'newCiNpmPackages', "newCiNpmPackages" %>
  <script name="newCiNpmPackages">
  	(function() {
  		if (window.A.ncnp) {
  			window.A.ncnp.apply(null);
  		}
  	})();
  </script>
<% end %>
