<script>
	<%= render 'vue.js'%>
</script>

<div id="app">
	<div class="fis-ci-container">
		<div class="plugins c-grid-span38">
			<div class="plugins-wrap">

				<div class="plugins-hread c-grid-row">
				  <div class="c-grid-span16">packageName</div>
				  <div class="c-grid-span16">version</div>
				  <div class="c-grid-span16">CI-packageName</div>
				</div>

				<div class="per-row-plugin c-grid-row c-gap-top" v-for="item in pluginsInput">
				  <span class="c-grid-span16 package-name">{{ item.package }}</span>
				  <span class="c-grid-span16 package-version">{{ item.version }}</span>
				  <span class="c-grid-span16 package-ci-package-name">{{ item.ciPackageName }}</span>
				</div>

			</div>
		</div>

		<div class="c-gap-top">
			<%= link_to 'Back', ci_packages_path %>
		</div>
	</div>


</div>

<script>
  (function() {
	  window.gc = window.gc || {};
	  gc = <%= raw @ci_package.content.to_json %>;
	  gc =JSON.parse(gc);
  })();
</script>

<script>
var app = new Vue({
  el: '#app',
  data: {
    pluginsInput: gc
  },
  computed: {

  },
  methods: {

  }
});
</script>