.api-ul-wrapper {
	input {
		border-bottom: 1px solid #999;
	}
	select {
		border: 0;

		box-shadow: 0 1px 0 #999;
		background-color: #fff;

	}
	.api-ul {
		list-style: none;
		padding: .5rem;
	}
	.api-li {
		border-top: 1px solid #999;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		& + .api-li {
			margin-top: 1.5rem;
		}
	}
	.api-li-uri {
		display: inline-block;
		width: 20rem;
		padding: 0 0 0 1rem;
	}
	.api-li-summary {
		height: 27px;
		padding: .5rem 1rem;
		background-color: #FFFAF0;
		& + .per-api {
			display: none;
			border-top: 1px solid #ddd;
		}
		&.unfold + .per-api {
			display: block;
		}
	}
}
.api-description {
	width: 15rem;
}
.api-add-query {
	height: 22px;
	line-height: 18px;
	padding: 0 .5rem;
	.add-api-btn {
		display: inline-block;
		padding: 0 1rem;
		cursor: pointer;
		background-color: blue;
		color: white;
		@include sameHeightLineheight(22px);
	}
	.api-query {
		border: 1px solid #999;
		width: 590px;
		padding: 1px .5rem;
		&:focus {
			border: 1px solid $focus-border-color;
		}
	}
	.api-search-wrapper {
		display: inline-block;
		position: relative;
	}
	.api-search-result {
	    width: 590px;
		background-color: #fff;
		position: absolute;
		top: 100%;
		left: 0;
	    border: 1px solid #ccc;
	    border-top-color: #d9d9d9;
	    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	    cursor: default;
	    z-index: 9999;
	    max-height: 20rem;
        overflow-y: auto;
	}
	.per-search-result {
		display: flex;
	    white-space: nowrap;
	    height: 22px;
	    line-height: 22px;
	    &:hover {
	    	background-color: #eee;
	    }
	}
	.per-result-column {
		padding: 0 .5rem;
		flex-basis: 0;
		@extend %ellipsis;
	}
	.per-result-uri {
		flex-grow: 4;
		flex-shrink: 1;
	}
	.per-result-section {
		flex-grow: 1;
		flex-shrink: 1;
	}
	.per-result-method {
		flex-grow: 1;
		flex-shrink: 1;
	}
	.per-result-description {
		flex-grow: 5;
		flex-shrink: 1;
	}
}