.api-ul-wrapper {
	input {
		border-bottom: 1px solid #999;
	}
	select {
		border: 0;

		box-shadow: 0 1px 0 #999;
		background-color: #fff;

	}
	.api-ul {
		list-style: none;
		padding: .5rem;
	}
	.api-li {
		border-top: 1px solid #999;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		& + .api-li {
			margin-top: 1.5rem;
		}
	}
	.api-li-uri {
		display: inline-block;
		width: 20rem;
		padding: 0 0 0 1rem;
	}
	.api-li-description {
		padding: .5rem 1rem;
		background-color: #FFFAF0;
		& + .per-api {
			display: none;
			border-top: 1px solid #ddd;
		}
		&.unfold + .per-api {
			display: block;
		}
	}
}