.api-li-collapse {
    cursor: pointer;
}
.add-api {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 0 1em 0;
}
.per-api {
    padding: 1rem 0 2rem 0;
    margin: 0 1rem 0 1rem;
    box-shadow: 0 5px 4px -5px purple;
}
.api-edit {
    display: inline-block;
    border: 1px solid #999;
    padding: 0 10px;
    margin: 0 1em 0 0;
    cursor: pointer;
}
.api-uri {
    width: 15rem;
    &:disabled {
        background-color: #ddd;
    }
}
.api-modes-row {
    padding-top: .7rem;
}
.api-mode-label {
    display: inline-block;
    width: 5rem;
    &.api-mode-debug {
        width: 30rem;
    }
    .mode-debugging-addr {
        width: 25rem;
        padding: 0 .5rem;
    }
}
.api-mode {
    margin-right: .5rem;
}
.api-save {
    @extend .api-edit;
}
.api-respond-preview-btn {
    @extend .api-edit;
}
.api-tree-wrapper {
    position: relative;
    margin: 1rem 0 0 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.api-respond-preview {
    padding: .5rem 0 0 0;
    &.raw {
        pre {
            white-space: normal;
            word-break: break-all;
        }
    }
}
.api-tree-frame {
    padding: 0 0 0 14px;
}
.api-tree {
    position: absolute;
    top:0;
    left:0;
    padding: 0 0 0 44px;
    height: 0;
}
.api-svg {
    &:not(:root) {
        overflow: visible;
    }
    .api-svg-path {
        stroke: purple;
        stroke-width: 1;
        fill: transparent;
    }
}
i {
    cursor: pointer;
}
.layer {
    margin: 0 0 1em 0;
    width: 23em;
    border-right: 1px solid #ddd;
}
.api-info {
    line-height: 1.5;
}
.leaf {
    display: inline-block;
    height: 22px;
    width: 460px;
    padding: 0 .5em;
    position: absolute;
    margin: 0 0 1.3em 0;
    white-space: nowrap;
    text-align: center;
    @include inline-block-fix(input);
    @include inline-block-fix(i);
    &::after {
        content: '*';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1rem;
        color: #000;
        font-size: 1rem;
    }
    &.root-leaf {
        width: 14px;
        transform: translate3d(-44px,0,0) !important;
        overflow: hidden;
        height: 48px;
        &::after {
            display: none;
        }
        .leaf-key,
        .leaf-value,
        .gap-mark,
        .leaf-value-type,
        .leaf-quantity {
            display: none;
        }
        .remove-child {
            position: absolute;
            top: 30px;
            left: 0;
        }
        .add-child {
            position: absolute;
            left:0;
            margin: 2px 0;
        }
    }
    &.leaf-has-child {
        .leaf-hide-quantity {
            display: none;
        }
        .leaf-value {
            background-color: #616161;
            color: #616161;
            &::-webkit-input-placeholder {
               color: #616161;
            }
        }
    }
    .remove-child {
        background-color: #F00;
        margin: 2px 2px 0 0;
        @extend %mark;
    }
    input, i {
        font-size: 12px;
    }
    input {
        width: 130px;
        height: 20px;
    }
    i {
        width: 20px;
    }
    .leaf-value,
    .leaf-key,
    .leaf-quantity {
        &:focus {
           border-bottom: $focus-border-style;
        }
    }
    .leaf-key {
        width: 120px;
    }
    .leaf-value {
        width: 148px;
    }
    .leaf-value-type {
        width: 80px;
        height: 20px;
        border-left: 1px solid #999;
        font-size: 1rem;
    }
    .leaf-quantity {
        width: 40px;
    }
    .leaf-hide-quantity {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        display: inline-block;
        height: 20px;
        background-color: #fff;
        z-index: 1;
    }
    .add-child {
        position: relative;
        background-color: blue;
        margin: 2px 0 0 2px;
        @extend %mark;
    }
    .gap-mark {
    }
    .leaf-key,
    .leaf-value,
    .leaf-quantity {
        padding: 0 .5rem;
    }
    .add-sibling {
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.preview-control-wrapper {
    border-bottom: 1px solid #d9d9d9;
    background-color: #fafafa;
    line-height: 1.54;
    .preview-control {
        font-size: 0;
        margin-bottom: -1px;
    }
}
.per-preview-type {
    display: inline-block;
    padding: 3px 15px;
    vertical-align: bottom;
    border-style: solid;
    border-width: 2px 1px 0 1px;
    border-color: transparent;
    border-left-color: #dedede;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.85;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    font-size: 1rem;
    &.active {
        border-color: #2c99ff #e4e4e4 #fff #dedede;
        background-color: #fff;
        color: #000;
        + .per-preview-type {
            border-left-color: transparent;
        }
    }
}
.preview-raw {
}
.preview-beautify {
}
.preview-highlight {
}
.preview-preview {
}