.apis {
	input {
		border: 1px solid #999;
	}
	select {
		border: 1px solid #999;

	}
	.api-ul {
		list-style: none;
		padding: .5rem;
	}
	.api-li {
		padding: .5rem;
		border: 1px solid #ddd;
		& + .api-li {
			margin-top: .5rem;
		}
	}
}