.email-whitelist {
	@extend %container;
	h1 {
		text-align: center;
	}
	table {
		width: 100%;
    border-collapse: collapse;
	}

	table, th, td {
    border: 1px solid #999;
	}
	.email-col,
	.per-operation {
		padding: .5rem 1rem;
	}
	.email-col {
		text-align: left;
	}
	.per-operation {
		width: 5em;
		text-align: center;
	}
	.new-whitelist-email-link {
		display: inline-block;
		margin-top: 1rem;
	}
	.new-whitelist-email-input {
		@extend %c-input;
		width: 20rem;
	}
	.per-whitelist-email-row {
		line-height: 1.5;
		border: 1px solid #999;
	}
}