.sessions {
	.row {
		@include sameHeightLineheight(3rem);
		+ .row {
			margin-top: .5rem;
		}
	}
	input {
		display: inline-block;
		line-height: 3rem;
		height: 3rem;
		border: 1px solid #999;
		width: 100%;
		padding: 0 1rem;
		&:focus {
			border-bottom: 1px solid #000;
		}
	}
	.btn-submit {
		display: block;
		margin: 0 auto;
		width: 10rem;
		padding: 0;
		background-color: #fff;
		border: 1px solid #999;
		border-radius: 4px;
	}
}