.slide-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .45);
	z-index: 9;
}
.slide-content {
	background-color: #fff;
	width: 90%;
	height: 100%;
	margin-left: 10%;
	will-change: transform;
	transform: translate3d(0, 0, 0);
}
.slide-text {
	padding: 1rem;
	border-bottom: 1px solid #ddd;
}
.slide-btns {
	font-size: 0;
	.slide-btn:only-child {
		display: block;
	}
}
.slide-btn {
	display: inline-block;
	width: 50%;
	font-size: 1rem;
	text-align: center;
	padding: .8rem;
	cursor: pointer;
	& + & {
		border-left: 1px solid #ddd;
	}
}