// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container {
	margin: 0 auto;
	width: 40rem;
}
.row {
	font-size: 0;
	position: relative;
}
.form-label {
	display: inline-block;
	width: 13rem;
	text-align: right;
	font-size: 12px;
	padding: 0 1rem 0 0;
}
.form-control {
	display: inline-block;
	font-size: 12px;
	width: 27rem;
}
.form-extra {
	font-size: 12px;
	display: inline-block;
	padding: 0 0 0 1rem;
	position: absolute;
	left: 40rem;
	top: 0;
    white-space: nowrap;
}
.btn-submit {
	display: block;
	font-size: 12px;
	margin: 0 auto;
}
.extra {
	text-align: center;
}
.users {
	margin: 0 auto;
    width: 40rem;
}
.gravatar_edit {
	text-align: center;
}


.userName {
	padding: 0 .2rem;
}
.email {
	@extend .userName;
}
.show-link {
	@extend .userName;
}
.show-link + .edit-link {
	margin-left: .5rem;
}
.edit-link + .delete-user {
	margin-left: .5rem;
}
.tweet-box[contenteditable="true"] {
	outline: none;
    border: 1px solid rgba(74, 145, 60, 0.25);
    padding: 8px 10px;
    color: #333;
    &.showPlaceholder {
	    &:before {
		    content: attr(data-placeholder-default);
		    color: #ccd6dd;
		    position: absolute;
		}
    }
}