<% provide(:title, 'User-preference') %>
<% provide(:name, 'userPreference') %>

<% content_for :content do %>
  <%= form_for(@user_pref, url:{:controller=>'user_preference', :action=>'update'},
                          method: 'post',
                html: {class: "signup-form"}) do |f| %>
    <% if f.object.errors.any? %>
      <div class="">
        <%= render 'shared/error_messages', object: f.object %>
      </div>
    <% end %>

    <% if logged_in? %>
    <%= f.select :locale,
      options_for_select(LANGUAGES, @user_pref.locale),
      {},
      {:class => "select-change-trigger c-bg-gray"} %>
    <% end %>

    <div class="row c-hide">
      <%= f.submit yield(:button_text), class: "btn btn-submit" %>
    </div>

  <% end %>
<% end %>

<% content_for :foot do %>
  <script>
    (function() {
      var wgc = window.gc || {};
      var sct = document.getElementsByClassName('select-change-trigger')[0];
      sct.addEventListener('change', cb, false);
      function cb(ev) {
        var f = ev.target.form;
        var fa = f.action;
        var fd = new FormData(ev.target.form);
        window.A.spf.load(fa, {
          method: "POST",
          postData: fd,
          onDone: function() {}
        });

      }

      function cbb(data) {
      }
    })();
  </script>
<% end %>
