.c-notice {
	text-align: center;
}
.c-border {
	border: $c-border;
}
.c-gap-top {
	margin-top: $gap-top;
}
.c-container {
    font-size: 13px;
    line-height: 1.54;
    word-wrap: break-word;
    word-break: break-word;
}
.c-float-right {
	float: right;
}
.c-float-left {
	float: left;
}
.c-block {
	display: block;
}
.c-summary-row {
	border-left: 5px solid #2124dc;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-left: 1rem;
	background-color: #eee;
	padding: .5rem 1rem;
	border-radius: 4px;
	&:hover {
		background-color: #fff;
		border-right: 1px solid #2124dc;
		border-bottom: 1px solid #2124dc;
	}
}
.c-input {
	border-bottom: 1px solid #999;
}
.c-center {
	text-align: center;
}
.c-hide {
	display: none;
}
.c-card-box {
	@extend %card-box;
}
.c-normal-card-box {
	@extend %card-box;
	width: 80rem;
}
.c-gap-top {
	margin-top: .8rem;
}

.c-table {
	table-layout: fixed;
	word-break: break-word;
	width: 100%;
  border-collapse: collapse;
	&, th, td {
		border: 1px solid #999;
		padding: .5rem 1rem;
	}
}

.c-simulate-table {
	border-top: 1px solid #999;
	border: 1px solid #eee;
	border-bottom: 2px solid #00cccc;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
	   0px 10px 20px rgba(0,0,0,0.05),
	   0px 20px 20px rgba(0,0,0,0.05),
	   0px 30px 20px rgba(0,0,0,0.05);
	.c-simulate-tr {
		border-left: 1px solid #999;
		 &:hover {
		  background: #f4f4f4;

		  .c-simulate-td {
		    color: #555;
		  }
		}
	}
	.c-simulate-td,
	.c-simulate-th {
		color: #333;
		padding: .5rem;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
	.c-simulate-th {
		background: #0cc;
		color: #fff;
		text-transform: capitalize;
		font-size: 12px;
		&.last {
		  border-right: none;
		}
	}

	.current_active {
		margin: -.5rem -.5rem 0 -.5rem;
		padding: .5rem;
		background-color: #7fff00;
	}	
}
.c-text {
	overflow: hidden;
	word-break: break-all;
	line-height: 1.8rem;
}
.c-button {
	color: #fff;
  background: #0cc;
  transition: none;
  border: 4px double #0cc;
  &:hover {
  	background: rgba(0, 0, 0, 0);
  	color: #0cc;
  }
}