.c-notice {
	text-align: center;
}
.c-border {
	border: $c-border;
}
.c-gap-top {
	margin-top: $gap-top;
}
.c-container {
    font-size: 13px;
    line-height: 1.54;
    word-wrap: break-word;
    word-break: break-word;
}
.c-float-right {
	float: right;
}
.c-float-left {
	float: left;
}
.c-block {
	display: block;
}
.c-summary-row {
	border-left: 5px solid #2124dc;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-left: 1rem;
	background-color: #eee;
	padding: .5rem 1rem;
	border-radius: 4px;
	&:hover {
		background-color: #fff;
		border-right: 1px solid #2124dc;
		border-bottom: 1px solid #2124dc;
	}
}
.c-input {
	border-bottom: 1px solid #999;
}
.c-center {
	text-align: center;
}
.c-card-box {
	@extend %card-box;
}
.c-normal-card-box {
	@extend %card-box;
	width: 80rem;
}

.c-table {
	table-layout: fixed;
	word-break: break-word;
	width: 100%;
  border-collapse: collapse;
	&, th, td {
		border: 1px solid #999;
		padding: .5rem 1rem;
	}
}

.c-simulate-table {
	border-top: 1px solid #999;
	.c-simulate-tr {
		border-left: 1px solid #999;
	}
	.c-simulate-td {
		padding: .5rem;
		border-right: 1px solid #999;
		border-bottom: 1px solid #999;
	}	
}
.c-text {
	overflow: hidden;
	word-break: break-all;
	text-align: left;
	line-height: 1.8rem;
}