%mark {
    border-radius: 50% 50%;
    color: #FFF;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
%card-box {
	padding: 1rem;
	width: 50rem;
	margin: 0 auto;
	border: 1px solid #e1e8ed;
}