%mark {
    border-radius: 50% 50%;
    color: #FFF;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
%card-box {
	padding: 1rem;
	width: 50rem;
	margin: 0 auto;
	border: 1px solid #e1e8ed;
}
%btn-hover-state {
    background-color: #000;
    color: #fff;
}
%ellipsis {
    /**
     * 1. Hide any overflow
     * 2. Prevent any line-break
     * 3. Add ellipsis at end of line
     */
    overflow: hidden;        /* 1 */
    white-space: nowrap;     /* 2 */
    text-overflow: ellipsis; /* 3 */
}
%reverse-ellipsis {
  text-overflow: clip;
  position: relative;
  background-color: white;
  &:before {
    content: '\02026';
    position: absolute;
    z-index: 1;
    left: -1em;
    background-color: inherit;
    padding-left: 1em;
    margin-left: 0.5em;
  }
  span {
    min-width: 100%;
    position: relative;
    display: inline-block;
    float: right;
    overflow: visible;
    background-color: inherit;
    text-indent: 0.5em;
    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: inherit;
        z-index: 200;
        left: -.5em;
    }
  }
}
%fileupload-btn {
    width: 0.1px;
    height: 0.1px; /* width and height are set to 0.1px instead of just 0px. Setting the property values to zero ends up throwing the element out of tab party in some browsers.  */
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    + label {
      color: #000;
      background-color: #fff;
      display: inline-block;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: none;
      outline: none;
      border: 1px solid #999;
      line-height: 1rem;
      height: 26px;
      padding: .5rem 1rem;
      max-width: 20rem;
      * {
        pointer-events: none; /* deal with Possible Touch Issues */
      }
    }
    &:focus + label,
    + label:hover {
        background-color: #000;
        color: #fff;
    }
    &:focus + label {
      // outline: 1px dotted #000;
      // outline: -webkit-focus-ring-color auto 5px;
    }
}