$chinese-font: 'Courier New', Courier, monospace;
$english-font: Arial,'Helvetica Neue',Helvetica,sans-serif;
$success-color: #fff;
$success-bg-color: #7FFFD4;

$danger-bg-color: #B22222;
$danger-color: #fff;

$info-bg-color: #E6E6FA;

/* used for math */
$default-threshold: pi()/180/20 !default;


/* user */
$user-following-link-padding: 0 .5rem;
$user-following-link-margin: 0 .5rem;
$follow-action-padding: 1rem 0 0 0;
$follow-status-padding: 1rem 0 0 0;