<% provide(:title, "Log") %>

    <script src="http://passport.everthis.com/passApi/js/wrapper.js"></script>
    <div style="width: 248px;border: 1px solid #efefef;box-shadow: 1px 1px 1px #efefef;">
    <div id="login1"></div>
    </div>
    <script>

    passport.use('login', {
        tangram:true
    }, function(magic){
    var login1 = new magic.passport.login({
            product : "pp",
            loginType: 1,
            defaultCss:true,//是否加载CSS
            loginMerge:true,//是否合并
            hasRegUrl:true,//是否有注册链接
            autosuggest:true,//是否自动提示
            hasPlaceholder:true,//是否有placeholder
            // authsiteLogin:['qzone','tsina','weixin'],//第三方登录
            sms:true,//短信登录
            u: window.location.protocol + '//passport.everthis.com/passApi/html/success.html',
            isPhone: false,
            safeFlag: 0,
            staticPage: window.location.protocol + '//passport.everthis.com/passApi/html/jump.html'
        });
        login1.render('login1');
    });
    
    
    </script> 