<div class="fis-ci-container">
  <div class="c-gap-bottom">
    <%= will_paginate %>
  </div>
  <div id="app">

      <div class="plugins c-grid-span38">
        <div class="plugins-wrap c-gap-bottom">

          <div class="plugins-hread c-grid-row c-pad-left">
            <div class="c-grid-span15">packageName</div>
            <div class="c-grid-span10">version</div>
            <div class="c-grid-span15">CI-packageName</div>
            <div class="c-grid-span5">status</div>
            <div class="c-grid-span5 c-center">log</div>
          </div>

          <plugin-item v-for="(item,index) in pluginsInput" v-bind:plugin="item"></plugin-item>


        </div>
      </div>

      <%= will_paginate %>

      <div class="c-gap-top">

        <%= link_to 'New Fis Ci Plugin', new_fis_ci_plugin_path %>
      </div>

  </div>


</div>

<script>
  (function() {
    window.gc = window.gc || {};
    gc = <%= raw @fis_ci_plugins.to_json %>;
  })();
</script>

<script>
(function addShowLogMark() {
  if (gc.length === 0) return;
  gc.forEach(function(element, index) {
    element.showLogs = false;
    element.log = {};
    element.gc = null;
  });
})();

</script>