<div class="fis-ci-container">
  <h1>Install New Fis CI Plugins</h1>

  <%= render 'form', fis_ci_plugins: @fis_ci_plugins %>

  <div id="app">
    <new-plugins></new-plugins>

  </div>

  <%= link_to 'Back', fis_ci_plugins_path %>
</div>
