<style>
	.app-loading-bar {
	    width: 100%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 2000;
	}
	.app-loading-bar-inner-color-primary {
	    background-color: #39f;
	}
	.app-loading-bar-inner {
		height: 2px;
	    transition: width .2s linear;
	}
</style>
<div class="c-hide app-loading-bar" style="height: 2px;">
	<div class="app-loading-bar-inner app-loading-bar-inner-color-primary" style="width: 101%; height: 2px;"></div>
</div>
