<% json_obj = {} %>
<% json_obj['body'] = {} %>
<% body_class = {:body => {:class => "#{controller.controller_name}" }} %>
<% content_target = content_for?(:content_target) ? yield(:content_target).squish : "page-container" %>
<% header_target = content_for?(:header_target) ? yield(:header_target).squish : "header-container" %>
<% footer_target = content_for?(:footer_target) ? yield(:footer_target).squish : "footer-container" %>

<% content_for :flash_content do %>
	<% flash.each do |message_type, message| %>
	  <div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
<% end %>

<% content_for?(:flash_content) ? json_obj['body']['flash-container'] = yield(:flash_content).squish : (json_obj['body']['flash-container'] = '') %>

<% content_for?(:content) ? json_obj['body'][content_target] = yield(:content) : "" %>
<% content_for?(:header_content) ? json_obj['body'][header_target] = yield(:header_content) : "" %>
<% content_for?(:footer_content) ? json_obj['body'][footer_target] = yield(:footer_content) : "" %>
<% content_for?(:head) ? json_obj['head'] = yield(:head).squish : "" %>
<% content_for?(:foot) ? json_obj['foot'] = yield(:foot).squish : "" %>
<% content_for?(:attr) ? json_obj['attr'] = JSON.parse("#{yield(:attr)}".html_safe).merge(body_class) : (json_obj['attr'] = body_class) %>
<% content_for?(:title) ? json_obj['title'] = full_title(yield(:title).squish) : "" %>
<% content_for?(:name) ? json_obj['name'] = yield(:name).squish : "" %>
<% json_obj['url'] = Utilities.remove_param_from_url_str( request.fullpath, 'fnpu') %>
<%= "#{json_obj.to_json}".html_safe %>
